/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
body {
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.scale-disable {
    pointer-events: none;
    color: gray;
}
.scale-enable {
    pointer-events: none;
    color: inherit;
}
#nav-toggle {
    display: inline-block;
}
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: white;
    position: absolute;
    display: block;
    content: '';
}
#nav-toggle span:before {
    top: -10px;
}
#nav-toggle span:after {
    bottom: -10px;
}
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
    transition: all 500ms ease-in-out;
}
#nav-toggle.active span {
    background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
    top: 0;
}
#nav-toggle.active span:before {
    transform: rotate(45deg);
}
#nav-toggle.active span:after {
    transform: rotate(-45deg);
}
/*
#nav-toggle:active span {
    background-color: transparent;
}
#nav-toggle:active span:before, #nav-toggle.active span:after {
    top: 0;
}
#nav-toggle:active span:before {
    transform: rotate(45deg);
}
#nav-toggle:active span:after {
    transform: rotate(-45deg);
}*/

.animate {
    -webkit-transition: 1s;
}
.animate.ng-enter {
    opacity: 0;
}
.animate.ng-leave {
    opacity: 1;
}
.animate.ng-enter.ng-enter-active {
    opacity: 1;
}
.animate.ng-leave.ng-leave-active {
    transform: rotate(90deg);
}
aside {
    transition: all 500ms ease-in-out;
    position: relative;
    width: 25%;
}
.show-aside > aside {
    transform: translateX(-100%);
}


/*
[ui-view].ng-enter, [ui-view].ng-leave {
    position: absolute;
    left: 0;
    right: 0;
    -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    transition:all .5s ease-in-out;
}

[ui-view].ng-enter {
    opacity: 0;
    -webkit-transform:scale3d(0.5, 0.5, 0.5);
    -moz-transform:scale3d(0.5, 0.5, 0.5);
    transform:scale3d(0.5, 0.5, 0.5);
}

[ui-view].ng-enter-active {
    opacity: 1;
    -webkit-transform:scale3d(1, 1, 1);
    -moz-transform:scale3d(1, 1, 1);
    transform:scale3d(1, 1, 1);
}

[ui-view].ng-leave {
    opacity: 1;
    */
/*padding-left: 0px;*//*

    -webkit-transform:translate3d(0, 0, 0);
    -moz-transform:translate3d(0, 0, 0);
    transform:translate3d(0, 0, 0);
}

[ui-view].ng-leave-active {
    opacity: 0;
    */
/*padding-left: 100px;*//*

    -webkit-transform:translate3d(100px, 0, 0);
    -moz-transform:translate3d(100px, 0, 0);
    transform:translate3d(100px, 0, 0);
}*/

.disabled {
    pointer-events:none;
    color: gray;
}


@font-face {
    font-family: 'MeteoconsRegular';
    url('../fonts/meteocons-webfont.woff') format('woff'),
    url('../fonts/meteocons-webfont.ttf') format('truetype'),
    font-weight: normal;
    font-style: normal;

}
.icon-sun::after {
    content: "\f113";
    color: rgb(255, 165, 0);
    position: absolute;

}